<%= javascript_include_tag "qa.js" %>
  <div class="main">
    <div class="main__name">  復  習　</div>
    <div class="main__link">
      <div class="main__link__tag">
        <ul>
          <li>
            <%= link_to '新規作成', qas_new_path,class:"main__link__tag__name"%>
            <%= link_to 'ホーム画面',root_path, class:"main__link__tag__name"%>
            <%= link_to '編集',edit_qa_path(@sample),class:"main__link__tag__name" %>
            
          <li>
        </ul>
      </div>
    </div>
    <div class="main__head">
      <div class="main__head__question" >
        <div id="question1">問題
        </div>
      </div>
      <div class="main__head__questions">

        <div class="main__head__questions__answer">
          
        </div>
      </div>
      
    </div>
    <div class="main__bootom">
      <div class="main__bootom__botun">
        <div id="main__bootom__botun__click">
          <%= form_with model: @sample,:url => {:qas => :index} do |f| %>
            <%= f.submit "解答を表示する",  class:"main__bootom__botun__click__function",id: "new_qa"%>
            <%= f.submit "次の問題へ", class:"main__bootom__botun__click__function__next",id: "next_qa"%>
          <% end %>
      </div>

      </div>
    </div>
  </div>
</div>