<div class="main">
  <h1 class="main__name">  復  習　</h1>
  <div class="main__link">
    <div class="main__link__tag">
      <ul>
        <li>
          <a href="/qas/new" class="main__link__tag__name">新規作成</a>
          <a href="/" class="main__link__tag__name">ホーム画面</a>
        <li>
      </ul>
    </div>
  </div>
  <div class="main__head">
    <div class="main__head__question" >
      <div id="question1"> 問題</div>
    </div>
    <div class="main__head__questions">
      <% @qa.each do |f|%>
        <p id="questions2"><%= f.body %></p>
        <p id="answer1"><%= f.content%></p>
        <% end %>
    
  </div>
  <div class="main__bootom">
    <div class="main__bootom__botun">
      <div id="main__bootom__botun__click">
        <%= form_with model: @qa,:url => {:qas => :index} do |f| %>
          <%= f.submit "解答を表示する",  class:"main__bootom__botun__click__function",id: "new_qa"%>
        <% end %>
    </div>
      <div id="main__bootom__botun__click2">
          <% %w(完璧 できた 普通 よくわからなかった 全くわからなかった ).each.with_index do |ingredient,i| %>
          <label>
            <%= check_box_tag 'samurai[ingredients][]', ingredient,false,id:"samurai_ingredients_#{i}"%>
            <%= ingredient %>
          </label>
          <% end %>
      </div>
    </div>
  </div>
</div>
